---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import GmailIcon from '../components/icons/Gmail.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import MaletaIcon from '../components/icons/Maleta.astro'
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro'

---

<Layout
 title="Portfolio de Jose Reyes - Desarrollador y Programador Web"
 description="Contrata a Jose Reyes para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas">
	<main class="px-4">
		<SectionContainer class = "py-44">
			<img class="rounded-full size-12 mb-4" 
			 src = "images/Yo.png"
			 alt = " foto" />

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Jose <a 
				href="https://www.linkedin.com/in/jose-daniel-reyes-gutierrez-19805913b/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"class="flex"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1> 
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]"> 
				<span>1 año de experiencia.</span>
				<span class="text-yellow-200/90" > Desarrollador Web</span>.
				<span class="text-red-200/90"> De Lima, Perú</span>.
				<span class="opacity-80" >Especializado en crear aplicaciones únicas</span>.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">

				<SocialPill href="https://www.linkedin.com/in/jose-daniel-reyes-gutierrez-19805913b">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/Josereyes12">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>

				<SocialPill href="mailto:jose98pl@gmail.com">
					<GmailIcon class="size-4 md:size-6"/>
					jose98pl@gmail.com
				</SocialPill>
			</nav>
		</section>	
		
		<SectionContainer id="experiencia" class="py-32">

			<h2 class="text-3xl font-semibold mb-12 flex gap-x-3 items-center">
				<MaletaIcon class = "size-8"/>
				Experiencia laboral
			</h2>

			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos" class="py-20">

			<h2 class="text-3xl font-semibold mb-12 flex gap-x-3 items-center">
				<CodeIcon class = "size-8"/>
				Proyectos
			</h2>

			<Projects/>
		</SectionContainer>
	</main>
</Layout>
