---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import GmailIcon from '../components/icons/Gmail.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import MaletaIcon from '../components/icons/Maleta.astro'
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro'
import Frase from '../components/Frase.astro'

---

<Layout
 title="Portfolio de Jose Reyes - Desarrollador y Programador Web"
 description="Contrata a Jose Reyes para crear tu aplicación web o móvil. Desarrollador Web.">
	<main class="px-4 mx-auto max-w-7xl">
		<SectionContainer class = "py-28">
			<img class="rounded-full size-24 mb-6 mx-auto" 
			 src = "images/Yo.png"
			 alt = " foto" />

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 max-w-[700px] mx-auto	">
				Hola, soy Jose <a 
				href="https://www.linkedin.com/in/jose-daniel-reyes-gutierrez-19805913b/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1> 
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px] mx-auto"> 
				<span>Egresado de la carrera de Ciencia de la Computación de la UNI.</span>
				<span class="text-yellow-200/90" > Apasionado por el Desarrollo Web y siempre en busca de nuevos desafíos y oportunidades para aprender</span>.
				<span class="text-red-200/90"> De Lima, Perú. </span>
				<span class="opacity-80" >¡Conectemos y creemos algo increíble juntos!</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap justify-center">

				<SocialPill href="https://www.linkedin.com/in/jose-daniel-reyes-gutierrez-19805913b">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/Josereyes12">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>

				<SocialPill href="mailto:jose98pl@gmail.com">
					<GmailIcon class="size-4 md:size-6"/>
					jose98pl@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>	
		
		<SectionContainer id="experiencia" class="py-24 mx-auto">

			<h2 class="text-3xl font-semibold mb-12 flex gap-x-3 items-center">
				<MaletaIcon class = "size-8"/>
				Experiencia laboral
			</h2>

			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos" class=" py-8 mx-auto">

			<h2 class="text-3xl font-semibold mb-12 flex gap-x-3 items-center">
				<CodeIcon class = "size-8"/>
				Proyectos
			</h2>

			<Projects/>
		</SectionContainer>

		<SectionContainer >
			
			<h2 class="text-3xl font-semibold mb-12 flex flex-col items-center justify-center text-center text-orange-500/90 relative">	
				Gracias por visitar la página, que pase un gran día
			</h2>
			
			</h2>
			<img class=" size-80 mb-6 mx-auto w-auto" 
			 src = "images/Yo2.jpg"
			 alt = " foto2" />
			<Frase/>
		</SectionContainer>
		 
	</main>
</Layout>
