---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
 {
    date: "Octubre 2023 - Actualmente",
    title: "Programador Independiente",
    company: "Ideart Asesores S.A.C.",
    description:
      "Implementación de páginas para áreas especializadas de la empresa.Utilización de Android Studio para aplicaciones móviles personalizadas. Creación de macros en Mircrosoft Excel con VBA 2016 para clientes.", 
  },
  {
    date: "Junio 2023 - Octubre 2023",
    title: "Practicante de Programación",
    company: "Ideart Asesores S.A.C.",
    description:
      "Creación de macros y automatización en Microsoft Excel con VBA 2016. Instalación y configuración de sistemas operativos y software.",
  },
  {
    date: "Junio 2023 - Julio 2023",
    title: "ANALISTA - PROGRAMADOR en el Área de Desarrollo",
    company: "KESPA TECHNOLOGY",
    description:
      "Contribución al equipo de desarrollo en entornos Net Core y Net Framework. Aplicación de C# en proyectos de desarrollo. Gestión y administración de bases de datos SQL Server.",
  },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">  
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>

