---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
 {
    date: "Octubre 2023 - Actualmente",
    title: "Programador Independiente",
    company: "Ideart Asesores S.A.C.",
    description:
      "Encargado de la implementación del desarrollo web para una de las páginas relacionadas con una de las áreas de especialización de la empresa. Utilización de Android Studio para el desarrollo de aplicaciones móviles personalizadas según las especificaciones del cliente.  Utilización de Microsoft Excel con Macros y VBA 2016 para la creación de macros personalizadas, adaptadas a las necesidades específicas de los clientes.", 
  },
  {
    date: "Junio 2023 - Octubre 2023",
    title: "Practicante de Programación",
    company: "Ideart Asesores S.A.C.",
    description:
      "Creación de macros y automatización de procesos en Microsoft Excel utilizando VBA 2016, adaptando las soluciones a las necesidades específicas de los clientes.	Instalación y configuración de sistemas operativos, software y herramientas antivirus para garantizar un entorno informático seguro y eficiente.",
  },
  {
    date: "Junio 2023 - Julio 2023",
    title: "ANALISTA - PROGRAMADOR en el Área de Desarrollo",
    company: "KESPA TECHNOLOGY",
    description:
      "Participación activa en el equipo de desarrollo, contribuyendo a la mejora continua de las herramientas propias desarrolladas en entornos Net Core y Net Framework. Aplicación del lenguaje de programación C# en la ejecución de proyectos de desarrollo Gestión y administración de la base de datos SQL Server para el proyecto asignado.",
  },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">  
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>

