---
import '@fontsource/cardo';
const frase = " \"Vive con pasión y con la mente y el corazón abiertos y Dios pondra a la gente adecuada en tu camino\"  ";
---

<div class="bg-[#141414] p-8 flex flex-col items-center justify-center md:text-2xl lg:text-2.5xl text-center">
  <h1 class="italic text-[#f9f9f9] font-['Cardo']">{frase}</h1>
  <h2 class="mt-4 text-[#f9f9f9]" > Jose Daniel Reyes Gutierrez</h2>
  <h2 class="text-[#7d7676] "> Creador de esta página</h2>
</div>

